h1 {
  font-family: times;
}

* {
  background-color: #F5F5F5;
}

#name {
  font-size:35px;
  font-style: bold;
}


.toolbar {
  display:inline-block;
  border:2px #339933;
  background: #F5F5F5;
  padding: 25px;
  font-size: 20px;
  font-family: Lucida;
}

a:link {
  text-decoration: none;
}

.toolbar:hover {
  background-color:#00cc66;
}

.bodycontent {
  font-size: 20px;
  padding:5px;
  display:inline-block;
}

#welcome {
  position:relative;
  height:250px;
  width: 200px;
  float: center;
}

img {
  height: 250px;
  width: 200px;
  float: left;
}

.imagelinks {
  display: inline-block;
  margin: 20px;
  height: 250px;
  width: 450px;
  margin: 15px;
}

.centered_images {
  height: 200px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}